CemarTroad2/bin/Debug/net8.0/CemarTroad2.dll
CemarTroad2/bin/Debug/net8.0/CemarTroad2.dll
CemarTroad2/bin/Debug/net8.0/CemarTroad2.dll
CemarTroad2/bin/Debug/net8.0/CemarTroad2.dll
CemarTroad2/bin/Debug/net8.0/CemarTroad2.exe
*.db-wal
*.dll
CemarTroad2/obj/Debug/net8.0/ref/CemarTroad2.dll
CemarTroad2/obj/Debug/net8.0/CemarTroad2.sourcelink.json
CemarTroad2/obj/Debug/net8.0/CemarTroad2.pdb
CemarTroad2/obj/Debug/net8.0/CemarTroad2.dll
CemarTroad2/obj/Debug/net8.0/CemarTroad2.AssemblyInfoInputs.cache
CemarTroad2/obj/Debug/net8.0/CemarTroad2.AssemblyInfo.cs
CemarTroad2/obj/Debug/net8.0/apphost.exe
CemarTroad2/bin/Debug/net8.0/CemarTroad2.pdb
*.exe
*.dll
.vs/CemarTroad2.slnx/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.v2
.vs/CemarTroad2.slnx/v18/.suo
*.json
*.db
CemarTroad2/obj/Debug/net8.0/CemarTroad2.AssemblyInfo.cs
*.pdb
*.db-shm
*.cache
*.props
*.slnx
*.targets
